# Configuración de Entorno Local
PORT=8080
DATABASE_URL=postgres://mooc_user:mooc_password@localhost:5432/mooc_db?sslmode=disable
REDIS_ADDR=localhost:6379
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_SECURE=false
MAILPIT_HOST=localhost
MAILPIT_PORT=1025
JWT_SECRET=super-secret-key-change-in-production
